body{
  margin:0;
}
:root{
  --background-materialDefault01:rgba(29, 30, 32, 0.94)
}
#blured{
  padding:20px;
  position:absolute;
  top:200px;
  left:150px;
  color:white;
  border:4px solid red;
  
  width:400px;
  height:200px;

  backdrop-filter: blur(50px);
}

#blured2{
  padding:20px;
  position:absolute;
  top:200px;
  left:150px;
  color:white;
  border:4px solid red;
  
  width:400px;
  height:200px;
  // backdrop-filter:blur(80px);
  //background: rgba(255,0,0, 0.0);

  background: var(--background-materialDefault01, linear-gradient(0deg, #8C8C8C 0%, #8C8C8C 100%), rgba(37, 37, 37, 0.82));
  // mix-blend-mode: overlay;
  // background-blend-mode: overlay, normal;
  /* blur/material */

  backdrop-filter: blur(50px);
}

iframe {
  border:none;
  overflow:hidden;
}

body{;
  height:100vh
}

#zoom{
  zoom:0.9
}